{% extends 'layouts/base.html.twig' %}
{% block title "Show pin" %}

{% block body %}
<div class="container bg-white shadow rounded px-4 py-4">
    {% set found = true %}
        {% set test = 'No Pin' %}

    {% if message is defined %}
        {% set found = false %}
    {% else %}
        {% set test = pin.title %}
    {% endif %}
    {% if found %}
    
        <h1 class="text-4xl mb-4 dark:text-white text-center"> Show pin</h1>
        <article class="px-2 py-2">
            <h2 class="text-2xl mb-2">{{ pin.title }}</h1>
            <p> {{ pin.description|u.truncate(10, '... ', false) }}</p>
            <small class="text-muted"> Submitted {{ pin.createdAt|ago }} by {{pin.user.fullname}} </small>
        </article>
                <a class="btn btn-primary btn-block" href="{{ path('app_edit', {id: pin.id}) }}">Edit</a></li>
                <a class="btn btn-danger btn-block" href="{{ path('app_delete', {id: pin.id}) }}" onclick="return confirm('You sure you want to delete?')">Delete</a>
                
    {% else %}
        <article>
            <h1>{{message}}</h1>
        </article>
    {% endif %}
</div>
{% endblock %}
