<!DOCTYPE html>
<html lang="{{app.request.locale}}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scal=1, shrink-to-fit=no">
		<title>
			{% block title 'Welcome!' %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` #}
		{# and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
		{% include "/pins/style.html.twig" %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}
	</head>
	<body class="flex flex-col justify-between items-center">
		{% for type, messages in app.flashes%}
		{% for message in messages %}
		<div class="alert alert-{{ type }}" id="{{ type}}-alert">{{message}}</div>
		{% endfor %}
		{% endfor %}
		<nav>
			<ul>
				<li>
					<a href="{{ path('app_home')}}">Go Home</a>
				</li>
				<li>
					<a href="{{ path('pin_create')}}">Create new pin</a>
				</li>
			</ul>
		</nav>
		<main role="main" class="my-6 flex flex-col items-center justify-center">
		{% block body %}{% endblock %}
		</main>
		<footer class="my-6">
			<p class="text-gray-400">
				&copy; Copyright
				{{'now'|date('Y')}}
				&middot;
				<a class="text-indigo-500 hover:text-indigo-600 underline" href="{{ path('app_home') }}">City Home</a>
			</p>
		</footer>
		{% block javascripts %}
			{% include "/pins/js.html.twig" %}
		{% endblock %}
	</body>
</html>
